body {
    background-color: #fdf5e6; 
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5; 
    color: #333;
    margin: 20px;
}

h1, h2, h3 {
    color: #8b4513; 
    text-align: center; 
    text-transform: uppercase;
    letter-spacing: 2px;
}


.nav-link > a {
    text-decoration: none;
    font-weight: bold;
    color: #2e8b57; 
}

table {
    width: 100%;
    border-collapse: collapse; 
    margin: 20px 0;
    background-color: #fff;
}

th, td {
    border: 1px solid #d2b48c;
    padding: 12px; 
    text-align: left;
}

th {
    background-color: #d2b48c; 
    color: white;
}

ul + ol {
    margin: 15px 40px;
    padding: 10px;
    background-color: #f9f4e8;
    border-radius: 8px;
}

dl {
    border: 1px dashed #8b4513;
    padding: 15px;
    margin-top: 10px;
}

dt {
    font-weight: bold;
    color: #a52a2a;
}

/*сусідній селектор */
section h2 + p {
    color:brown
}

/* контекстний селектор */
#detective b {
    font-size: 20px;
}

/* дочірній селектор */
#scifi > p {
    color: blueviolet;
}
    
span {
    font-style: italic;
}

.classics-bestseller {
    float: right;
    width: 80%;
    max-width: 800px;
    margin: 10px 0 20px 20px;
    padding: 15px;
    background-color: #fff;
    border: 2px solid #d2b48c;
    border-radius: 8px;
    text-align: center;

}

.scifi-bestseller {
    position: relative;
    top: -10px;
    left: 20px;
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    background-color: #e0f7fa;
    border: 1px solid #0dcaf0;
}

.romance-bestseller {
    position: static; 
    width: 350px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px dashed #d63384; 
    border-radius: 12px;
    text-align: center;
}

a:link { color: #8b4513; text-decoration: none; }
a:visited { color: #5d3a1a; }
a:hover { color: #d63384; text-decoration: underline; }
a:active { color: #ff0000; }

ol li:first-child {
    font-weight: bold;
    color: #2e8b57;
}

section h2:before {
    content: "💕";
    font-size: 0.8px;
}

#classics::after {
    content: "";
    display: table;
    clear: both;
}